streamlit==1.31.0
pdfplumber==0.10.3
pymysql==1.1.0
pandas==2.0.3
numpy==1.26.4
spacy==3.5.3
streamlit-tags==1.2.8
yt-dlp==2023.12.30
plotly==5.18.0
protobuf==4.25.2
altair==4.2.2
toml==0.10.2
watchdog
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl